<div class="card p-2 mx-auto">
  <form [formGroup]="form" class="form mt-4" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" class="form-control" formControlName="FirstName">
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" class="form-control" formControlName="LastName">
    </div>
    <div class="form-group">
      <label for="Email">Email Address</label>
      <input type="email" id="Email" class="form-control" formControlName="Email">
    </div>
    <div class="form-group">
      <label for="role">Role</label>
      <select class="form-control" name="" id="role" formControlName="Role">
        <option *ngFor="let item of roles">{{item.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" name="" id="gender" formControlName="Gender">
        <option *ngFor="let item of  gender">{{item.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="role">City</label>
      <select class="form-control" name="" id="role" formControlName="City">
        <option *ngFor="let item of city">{{item.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <textarea id="address" cols="30" rows="5" formControlName="Address"></textarea>
    </div>
    <button class="btn btn-primary btn-block" [disabled]="form.invalid">Submit</button>
    <button class="btn btn-primary btn-block" (click)="close()">Cancel</button>

  </form>
</div>